@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

h1 {
  font-family: Alfa Slab One;
color: white;
}
p {
font-family: Crete Round;
color: white;
}
body {background-color: #23272A;}
.custom-btn {
font-family: Alfa Slab One;
text-decoration: none;
color: white;
	background-color: #5865F2;
  border: 0px solid black;
	border-radius: 1px;
  height: 50px;
	width: 200px;
  display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.button2 {
font-family: Alfa Slab One;
text-decoration: none;
color: white;
	background-color: #23272A;
  border: 0px solid black;
	border-radius: 1px;
  height: 50px;
	width: 200px;
  display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}
