@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

h1 {
  font-family: Alfa Slab One;
color: white;
}
p {
font-family: Arial;
color: white;
}
body {background-color: #23272A;}
.custom-btn {
	background-color: linear-gradient(#5865F2, blue);
  border: 2px solid black;
	border-radius: 20px;
  height: 50px;
	width: 200px;
  display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}
